body {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}
h1 {
    font-size: 2rem;
    letter-spacing: 1.2rem;
    border-bottom: 1px solid grey;
    box-shadow: 0 4px 2px -2px gray;
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

}
p {
    color: black;
}

{
    height: 3px;
    color: rgb(115, 115, 114);
    text-shadow(5px 5px 5px pink);

}

#basic {
    font-weight: bold;
    
}
.text_blue {
    color: skyblue;
}

.text_pink {
    color: rgb(255, 192, 203);
 }

 h2 {
    color: pink;
 }
 
 